#!/usr/bin/env bash

# Find process that is using the port given as argument
function findport() {
  lsof -wni :$1
}

# Kill processes from a port range
function killrangeports() {
  fromPort=$1
  toPort=$2
  for i in $(seq $fromPort $toPort); do
    pid=$(lsof -i:$i -t -sTCP:LISTEN)
    if [ -n "$pid" ]; then
      echo "pid: $pid on port: $i killed"  
      kill -TERM $pid || kill -KILL $pid
    fi
  done
}

# Create a directory and move to it
function mkcd () {
  mkdir $1 && cd $_
}

# Find history entries with given keywords
function hgrep () {
  history | grep --color $1
}

# Extract archived files in several formats
function extract() {
  if [ -z "$1" ]
  then
    echo "Usage: extract <file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
  else
    if [ -f $1 ] ; then
      case $1 in
        *.7z)        7z x $1        ;;
        *.bz2)       bunzip2 $1     ;;
        *.exe)       cabextract $1  ;;
        *.gz)        gunzip $1      ;;
        *.tar.bz2)   tar xvjf $1    ;;
        *.tar.gz)    tar xvzf $1    ;;
        *.tar.xz)    tar xvJf $1    ;;
        *.tar)       tar xvf $1     ;;
        *.tbz2)      tar xvjf $1    ;;
        *.tgz)       tar xvzf $1    ;;
        *.Z)         uncompress $1  ;;
        *.xz)        unxz $1        ;;
        *.lzma)      unlzma $1      ;;
        *.rar)       unrar x -ad $1 ;;
        *.zip)       unzip $1       ;;
        *)           echo "extract: '$1' - unknown archive method" ;;
      esac
    else
        echo "$1 - file does not exist"
    fi
  fi
}

# Returns obsolute path of given files and folders. Current directory by default 
function absolutePath() {
  for file in $(ls "$@"); do
    echo -n $(pwd)
    [[ $(pwd) != "/" ]] && echo -n /
    echo $file
  done
}
