[user]
  name = Hernan Pieroni
  email = hernan.pieroni@gmail.com

[credential]
  helper = store

[core]
  excludesfile = /Users/hernan/.gitignore_global
  editor = vim

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = always
  ui = auto

[push]
  default = current

[pull]
  default = current

[alias]
  alias = config --get-regexp alias
  conflicts = !git ls-files -u | cut -f 2 | sort -u

  #commons
  cp = cherry-pick
  st = status -s
  cl = clone
  c = commit
  ca= commit --amend
  co = checkout
  br = branch

  #logs
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

  #reset
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard

  #stash
  sl = stash list
  ss = stash save
  ssu = stash save --include-untracked
  sa = stash apply
  sd = stash drop
  sp = stash pop
  sc = stash clear
  
  #tags
  lasttag = describe --tags --abbrev=0
  
  #clean
  nah="!git reset --hard; git clean -df"
