[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = always
	ui = auto

[alias] 
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  conflicts = !git ls-files -u | cut -f 2 | sort -u

[user]
	name = Hernan Gabriel Pieroni
	email = hernan.pieroni@gmail.com
[core]
	excludesfile = /Users/hernan/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
